<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-push-2 text-center">
                    <h2 class="section-heading">Building with care in the Tamar Valley</h2>
                    <h3 class="section-subheading text-muted">
                        We work on all sorts of projects - large and small —
                        in the Tamar valley and surrounding areas, including Callington, Tavistock, Launceston, Saltash and Plymouth.
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class=" text-center">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa  fa-book fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Project management</h4>
                    </div>
                    <p class="text-muted">
                    Many people underestimate the complexity of even medium-sized building projects — especially without recent knowledge of the construction industry. </p>

                    <p class="text-muted">
                    We have extensive experience of both new build and larger extension projects, and find that by providing project and site-management services we can help clients plan their design, control costs, and avoid disappointments. </p>
                </div>

                <div class="col-md-4">
                    <div class=" text-center">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa  fa-home fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">General Building</h4>
                    </div>
                    <p class="text-muted">We offer a complete range of building services, including:
                        <ul class="text-left text-muted">
                            <li>New builds and extensions </li>
                            <li>Traditional roofing </li>
                            <li>Fiberglass flat roofing </li>
                            <li>Plastering and rendering  ,external and internal</li>
                            <li>Painting and decoration </li>
                            <li>Upvc doors and windows </li>
                            <li>Carpentry </li>
                            <li>Joinery </li>
                            <li>Plumbing </li>
                            <li>Electrics </li>
                            <li>Guttering and fascia </li>
                            <li>Porches </li>
                            <li>Kitchens and bathrooms </li>
                            <li>Patios and fencing</li>
                        </ul>
                        </p>
                </div>


                <div class="col-md-4">
                    <div class=" text-center">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-wrench  fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Property maintenance</h4>
                    </div>
                    <p class="text-muted">
                        Regular maintenance can reduce costs and increase satisfaction of tenants, avoiding lost income.
                        We work with a number of landlords and letting agencies to provide reliable and responsive maintenance services.</p>

                </div>
            </div>
        </div>
    </section>
